.grid{
    margin-top: 10px;
    margin-left: 15px;
    border: 10px;
    border-color: black;
    font-size: 0;
    margin-bottom: 10px;
    padding-bottom: 7px;
    /* background-image: url('../assets/mars_surface.jpg'); */
}